/* @import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "Sora", sans-serif;
} */

@keyframes confetti-fall {
  0% {
    transform: translateY(-10%) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(110vh) rotate(var(--rotation));
    opacity: 0.3;
  }
}

.confetti-svg {
  position: absolute;
  animation: confetti-fall linear forwards;
  will-change: transform;
}